#include <dt-bindings/led/led.h>

/ {
    led_strip: ws2812 {
        compatible = "worldsemi,ws2812-pwm";
        label = "WS2812";
        chain-length = <16>; /* arbitrary */
        color-mapping = <LED_COLOR_ID_GREEN
                         LED_COLOR_ID_RED
                         LED_COLOR_ID_BLUE>;
        pwms = <&pwm2 3 0 PWM_POLARITY_NORMAL>;
        period-ns = <1150>;
    };

    pwmleds {
        compatible = "pwm-leds";
        external_pwm_led: external_pwm_led {
            pwms = <&pwm15 2 0 PWM_POLARITY_NORMAL>;
        };
    };

    gpio_keys {
        compatible = "gpio-keys";
        button_0: button_0 {
            label = "BUTTON_0";
            status = "okay";
            gpios = <&gpioa 0 (GPIO_ACTIVE_HIGH | GPIO_PUSH_PULL)>;
        };
    };

	  aliases {
        led-strip = &led_strip;
        pwm-sound = &external_pwm_led;
        sw0 = &button_0;
    };
};

&timers2 {
    status = "okay";
    pwm2: pwm {
        status = "okay";
        pinctrl-0 = <&tim2_ch3_pa2>;
        pinctrl-names = "default";
    };
};

&timers15 {
    status = "okay";
    st,prescaler = <10000>;
    pwm15: pwm {
        status = "okay";
        pinctrl-0 = <&tim15_ch2_pa3>;
        pinctrl-names = "default";
    };
};

&dma2 {
    status = "okay";
};

&spi1 {
    status = "okay";
    pinctrl-0 = <&spi1_sck_pb3 &spi1_miso_pb4 &spi1_mosi_pb5>;
    pinctrl-names = "default";
    status = "okay";
    cs-gpios = <&gpioa 12 (GPIO_ACTIVE_LOW)>;
    dmas = <&dma2 4 4 0x20440>, <&dma2 3 4 0x20480>;
    dma-names = "tx", "rx";
    lora0: sx1276@0 {
        status = "okay";
        compatible = "semtech,sx1276";
        reg = <0>;
        label = "sx1276";
        reset-gpios = <&gpiob 8 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>; // GPIO_ACTIVE_LOW
        dio-gpios = <&gpiob 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&gpioa 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&gpioa 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&gpioc 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        power-amplifier-output = "pa-boost";
        spi-max-frequency = <5000000>;
    };
};

&usart2 {
    status = "disabled";
};

&led0 {
    status = "disabled";
};

&led1 {
    status = "disabled";
};

&clk_hsi {
    status = "okay";
};

&pll {
    status = "okay";
    div-m = <1>;            /*  16 / 1  = 16MHz  */
    mul-n = <20>;           /*  16 * 20 = 320MHz */
    div-r = <4>;            /* 128 / 2  = 80MHz  */
    clocks = <&clk_hsi>;
};

&rcc {
    status = "okay";
    clocks = <&pll>;
    clock-frequency = <DT_FREQ_M(80)>;
    ahb-prescaler = <1>;
    apb1-prescaler = <1>;
    apb2-prescaler = <1>;
};